<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @page_title %> &raquo; Humberside Police</title>
    <%= stylesheet_link_tag 'application', 'formtastic', 'formtastic_changes', :cache => 'base' %>  
		<%= yield :head %>
  </head>
  <body>